
/* Fonts
 *============================================================================*/

@font-face {
    font-family: 'Signika';
    src: url('fonts/Signika-Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Signika';
    src: url('fonts/Signika-SemiBold.ttf') format('truetype');
    font-weight: bold;
}



/* Document
 *============================================================================*/

:root {
    --background-primary: #ffffff;
    --background-secondary: #f1f2f3;
    --color-primary: rgba(32,33,34,1);
    --color-secondary: rgba(32,33,34,.7);
    --border: rgba(32,33,34,.2);
    --accent: #009e53;
    --accent-contrast: white;
    --container: 50rem;
    --space-small: .5rem;
    --space-regular: 1rem;
    --space-medium: 2rem;
    --space-large: 6rem;
    --font-small: .85em;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: calc(14px + .25vw);
    line-height: 1.5;
    font-family: 'Signika', sans-serif;
}

body.scroll-disabled {
    overflow-y: hidden;
}

::selection {
    background: var(--accent);
    color: var(--accent-contrast);
}



/* Elements
 *============================================================================*/

img, video {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.media-large {
    max-width: calc(100% + calc(var(--space-medium) * 2));
    margin: var(--space-medium) calc(var(--space-medium) * -1)
}

a {
    cursor: pointer;
    color: inherit;
}

a:focus {
    outline: 2px solid var(--accent);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 1rem;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

hr {
    margin: 4em 0;
    border: none;
    border-top: 1px solid var(--border);
}

td {
    padding: 0 var(--space-small) 0 0;
}

figure {
    margin: var(--space-regular) 0;
}

figcaption + ul  {
    margin-top: var(--space-small);
}

figure figure {
    margin: 0;
}

ul {
    list-style: none;
    border-left: 2px solid;
    padding-left: var(--space-regular);
    padding-right: var(--space-regular);
}

li {
    padding: calc(var(--space-small) / 1.5) 0;
}



/* Sections
 *============================================================================*/

.section {
    padding-top: var(--space-medium);
    padding-bottom: var(--space-large);
}



/* Containers
 *============================================================================*/

.container {
    margin: 0 auto;
    max-width: var(--container);
    padding-left: var(--space-medium);
    padding-right: var(--space-medium);
}



/* Grid & columns
 *============================================================================*/

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--space-regular) * -.5);
}

[class*="col-"] {
    padding: 0 calc(var(--space-regular) * .5);
}

.col-0  { display: none; }
.col-1  { width: calc(1  / 12 * 100% - var(--space-regular) - 1px); }
.col-2  { width: calc(2  / 12 * 100% - var(--space-regular) - 1px); }
.col-3  { width: calc(3  / 12 * 100% - var(--space-regular) - 1px); }
.col-4  { width: calc(4  / 12 * 100% - var(--space-regular) - 1px); }
.col-5  { width: calc(5  / 12 * 100% - var(--space-regular) - 1px); }
.col-6  { width: calc(6  / 12 * 100% - var(--space-regular) - 1px); }
.col-7  { width: calc(7  / 12 * 100% - var(--space-regular) - 1px); }
.col-8  { width: calc(8  / 12 * 100% - var(--space-regular) - 1px); }
.col-9  { width: calc(9  / 12 * 100% - var(--space-regular) - 1px); }
.col-10 { width: calc(10 / 12 * 100% - var(--space-regular) - 1px); }
.col-11 { width: calc(11 / 12 * 100% - var(--space-regular) - 1px); }
.col-12 { width: calc(12 / 12 * 100% - var(--space-regular) - 1px); }

@media (max-width: 1200px) {
    .col-m-0  { display: none; }
    .col-m-1  { width: calc(1  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-2  { width: calc(2  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-3  { width: calc(3  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-4  { width: calc(4  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-5  { width: calc(5  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-6  { width: calc(6  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-7  { width: calc(7  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-8  { width: calc(8  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-9  { width: calc(9  / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-10 { width: calc(10 / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-11 { width: calc(11 / 12 * 100% - var(--space-regular) - 1px); }
    .col-m-12 { width: calc(12 / 12 * 100% - var(--space-regular) - 1px); }
}

@media (max-width: 800px) {
    .col-s-0  { display: none; }
    .col-s-1  { width: calc(1  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-2  { width: calc(2  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-3  { width: calc(3  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-4  { width: calc(4  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-5  { width: calc(5  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-6  { width: calc(6  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-7  { width: calc(7  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-8  { width: calc(8  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-9  { width: calc(9  / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-10 { width: calc(10 / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-11 { width: calc(11 / 12 * 100% - var(--space-regular) - 1px); }
    .col-s-12 { width: calc(12 / 12 * 100% - var(--space-regular) - 1px); }
}

@media (max-width: 500px) {
    .col-xs-0  { display: none; }
    .col-xs-1  { width: calc(1  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-2  { width: calc(2  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-3  { width: calc(3  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-4  { width: calc(4  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-5  { width: calc(5  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-6  { width: calc(6  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-7  { width: calc(7  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-8  { width: calc(8  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-9  { width: calc(9  / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-10 { width: calc(10 / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-11 { width: calc(11 / 12 * 100% - var(--space-regular) - 1px); }
    .col-xs-12 { width: calc(12 / 12 * 100% - var(--space-regular) - 1px); }
}
